---
import BaseLayout from "../layouts/BaseLayout.astro";
import BeanEntry from "../components/BeanEntry.astro";
import { getBeans } from "../data/beans";
import { withBase } from "../utils/paths";

const beans = await getBeans();
const initialCommand = `$ bean log ${beans[0].data.date} ${beans[0].data.beanKey}`;
const initialLinkHref = withBase(`/log/${beans[0].slug}/`);
---
<BaseLayout
  title="Beans"
  description="A coffee log."
  initialCommand={initialCommand}
  initialLinkHref={initialLinkHref}
>
  <section class="hero">
    <h1>Beans: a coffee log.</h1>
    <p>
      <a href={withBase("/about/")}>[about]</a> 路 <a href={withBase("/equipment/")}>[equipment]</a> 路{" "}
      <a href={withBase("/recipes/")}>[recipes]</a> 路 <a href={withBase("/roasters/")}>[roasters]</a>{" "}
      路 <a href={withBase("/coffees/")}>[coffees]</a>
    </p>
  </section>
  {beans.map((bean) => (
    <BeanEntry bean={bean} />
  ))}
</BaseLayout>
